@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Pretendard", sans-serif;
  background-color: #f5f8ff;
  color: #111827;
}

button,
input,
select,
textarea {
  font-family: inherit;
}